body {
  background:white;
  color:white;
}

.container {
  display: grid;
  place-items: center;
  background-color: lightblue;
}

.btn, .deletebtn{
  width: 100px;
  background-color: navy;
  border: none;
  border-radius: 8px;
  color:aliceblue;
  font-family:'Courier New', Courier, monospace;
  font-size: 20px;
}

#select{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#labels{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

ul, li{
  color: navy;
  font-family: monospace;
  font-size: 15px;
  font-weight:lighter;
}

li .listlabel, ul .listlabel{
  color: navy;
  font-family: monospace;
  font-size: 17px;
  font-weight: bold;
}

.values{
  color: navy;
  font-family: monospace;
  font-size: 15px;
  font-weight:lighter;
  text-decoration: underline;
}
